# Function dependencies, for example:
# package>=version
croniter
google-cloud-bigquery
google-cloud-dialogflow
google-cloud-firestore
google-cloud-logging
google-cloud-pubsub
google-cloud-tasks
numpy
python-dateutil
pytz
